{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='style_index.css') }}">
{% endblock %}

{% block content %}
<h1>Upcoming Events</h1>

<ul class="event-list">
    {% for event in events %}
        <li>
            <strong>{{ event['title'] }}</strong><br>
            <span>Date: {{ event['start_date'] }}</span><br>
            <a href="{{ url_for('event_detail', id=event['id']) }}">View Details</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}
